body {
  position: fixed;
  left: 0px;
  top: 0px;
  opacity: 0.9;
}

.bg {
  position: fixed;
  top: 0;
  left: 0;
  height: 100%;
  min-height: 100%;
  min-width: 100%;
  z-index: -1;
  pointer-events: none;
}

.bg::selection {
  background-color: transparent;
}